<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Girraph</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/style.scss" type="text/css">
  <link rel="stylesheet" href="js/main.js" type="text/css">

  <!-- =======================================================
  * Template Name: OnePage - v4.7.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <% if(locals.data) { %>
        <a href="/search" class="logo" style="color:#6168ED">Girraph</a>
      <% } %>
      <!--<h1 class="logo"><a href="img/Logo.jpg">Public DKG Beta</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/search" class="logo" style="color:#6168ED"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="getstarted scrollto" href="/dashboard" style="float: right;">Dashboard</a>
          </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <main id="main">
    <!-- ======= Publish Section ======= -->
      <section id="contact" class="contact" style="padding-top:130px;">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2 style="color:#6168ED">Request Limit reached!</h2>
            <% if(locals.data) { %>
              <p><%= data %></p>
            <% } %>
          </div>
      </section>
  
    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="position: fixed;bottom: 0;width:100%;">
    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong>Girraph</strong>. All Rights Reserved
        </div>
      </div>
      <div class="text-center text-md-right pt-3 pt-md-0" style="padding-right:20px;"><p><a href="/search" style="color:#6168ED;">Search</a></p></div>
      <div class="text-center text-md-right pt-3 pt-md-0" style="padding-right:20px;"><p><a href="/provision" style="color:#6168ED;">Provision</a></p></div>
      <div class="text-center text-md-right pt-3 pt-md-0" style="padding-right:20px;"><p><a href="/update" style="color:#6168ED;">Update</a></p></div>
      <div class="text-center text-md-right pt-3 pt-md-0" style="padding-right:20px;"><p><a href="/resolve" style="color:#6168ED;">Resolve</a></p></div>
      <div class="text-center text-md-right pt-3 pt-md-0" style="padding-right:40px;"><p><a href="/event" style="color:#6168ED;">Events</a></p></div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0" style="float:right;">
        <a href="https://twitter.com/DkgPublic" class="twitter" style="background:#6168ED;"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    function pleasewait() {
      var x = document.getElementById("please_wait");
      var y = document.getElementById("search_button");

      if (x.style.display === "none") {
        x.style.display = "block";
        if (document.getElementById("keywords").value.length != 0) {
          y.style.display = "none";
        }
      }else{
        x.style.display = "none";
      }

      if (document.getElementById("keywords").value.length != 0) {
        x.style.display = "block";
      }else{
        x.style.display = "none";
      }
    }

    function resolvewait() {
      var y = document.getElementById("resolve_button");
      y.style.display = "none";
    }

    function updatewait() {
      var z = document.getElementById("update_button");
      z.style.display = "none";
    }

    function change_type_button(type) {
      document.getElementById(type).checked = 'checked';
      console.log(type);
      if(type == 'assertions'){
        var new_assbutton=`<button type="button" id="assertions_button" onclick="change_type_button('assertions')" style="border-radius:5px 0px 0px 5px;background-color:#6168ED;padding:3px 10px;font-size:12px;">Assertions</button>`;
        var new_entbutton=`<button type="button" id="entities_button" onclick="change_type_button('entities')" style="border-radius:0px 5px 5px 0px;background-color:#ffffff;color:#6168ED;border: 1px solid #6168ED;padding:3px 10px;font-size:12px;">Entities</button>`;
      }else{
        var new_entbutton=`<button type="button" id="assertions_button" onclick="change_type_button('entities')" style="border-radius:0px 5px 5px 0px;background-color:#6168ED;padding:3px 10px;font-size:12px;">Entities</button>`;
        var new_assbutton=`<button type="button" id="entities_button" onclick="change_type_button('assertions')" style="border-radius:5px 0px 0px 5px;background-color:#ffffff;color:#6168ED;border: 1px solid #6168ED;padding:3px 10px;font-size:12px;">Assertions</button>`;
      }

      document.getElementById("assertions_button").remove();
      document.getElementById("entities_button").remove();
      $('#type_buttons').append(new_assbutton);
      $('#type_buttons').append(new_entbutton);
    }

    if(document.getElementById('assertions').checked == 'checked'){
      var new_entbutton=`<button type="button" id="assertions_button" onclick="change_type_button('assertions')" style="border-radius:5px 0px 0px 5px;background-color:#6168ED;padding:3px 10px;font-size:12px;">Entities</button>`;
        var new_assbutton=`<button type="button" id="entities_button" onclick="change_type_button('entities')" style="border-radius:0px 5px 5px 0px;background-color:#ffffff;color:#6168ED;border: 1px solid #6168ED;padding:3px 10px;font-size:12px;">Assertions</button>`;
        $('#type_buttons').append(new_assbutton);
        $('#type_buttons').append(new_entbutton);
      }else{
        var new_assbutton=`<button type="button" id="assertions_button" onclick="change_type_button('assertions')" style="border-radius:5px 0px 0px 5px;background-color:#6168ED;padding:3px 10px;font-size:12px;">Assertions</button>`;
        var new_entbutton=`<button type="button" id="entities_button" onclick="change_type_button('entities')" style="border-radius:0px 5px 5px 0px;background-color:#ffffff;color:#6168ED;border: 1px solid #6168ED;padding:3px 10px;font-size:12px;">Entities</button>`;
        
        $('#type_buttons').append(new_assbutton);
        $('#type_buttons').append(new_entbutton);
      }

    
      if(localStorage.account){
        document.getElementById("account").value = localStorage.account;
      }
  </script>

</body>

</html>
